<%= @user == current_user ? "My things activities" : "#{@user.email}'s activities" %>
<% @user.activities.each do |a| %>
	<br>
	<%= link_to a.name, user_activity_path(@user, a) %>
<% end %>
<div id="new_activity_button" class="button">
</div>