<div>
	<table id="user_links"><tr>
		<td id="todos_link"> <%= link_to "Todos", "#" %> </td>
		<td id="activities_link"> <%= link_to "Activities", "#" %> </td>
	</tr></table>
</div>

<div id="my_todos">
	<%= render :partial => 'my_todos' %>
</div>

<div id="my_activities">
	<%= render :partial => 'my_activities' %>
</div>