/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	// background: white;
	// background-image: image-url("blue_background.jpeg");
	background-size: 100%
}

#logo {
	font-size: 30px;
}

#header {
	width: 730px;
	background-image: image-url("dark_textured_background.jpeg");
	padding: 10px 5px;
	table {
		margin-left: auto;
		margin-right: auto;
		width: 700px;
		td {
			vertical-align: middle;
			a {
				font-size: 20px;
				color: #eadebc;
				text-decoration: none;
				&:hover {
					color: white;
					text-decoration: none;
				}
			}
		}
		td#navigation {text-align: left;}
		td#sign_in_out {text-align: right;}
	}
}

#main_pane {
	// background-color: white;
	background-image: image-url("light_textured_background.jpeg");	
	width: 700px;
	padding: 10px 20px
}

#nav {
	float: right;
}

.shadow {
	-moz-box-shadow: 2px 3px 5px #888;
	-webkit-box-shadow: 2px 3px 5px #888;
	box-shadow: 2px 3px 5px #888;
}

.round {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.round_small {
	-moz-border-radius: 20px;
	border-radius: 20px;
}