// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_links {
	margin-left:auto; 
    margin-right:auto;
    width: 500px;
    td {
    	text-align: center;
		font-size: 20px;
    }
}