<p id="notice"><%= notice %></p>

<div id="activity_name">
  <%= @activity.name %>
</div>

<p>
  <b>User:</b>
  <%= @activity.user.email %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<div id="add_to_do_button" class="button">
	Do this!
</div>

<%= link_to 'Edit', edit_user_activity_path(@activity) if @activity.user_id == current_user.id %> |
<%= link_to 'Back', user_path(@user) %>
