<!DOCTYPE html>
<html>
<head>
  <title>Middboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="logo"> Middboard </div>
	<br>
	<div id="header" class="shadow round_small">
		<table id="header_table"><tr>
			<td id="navigation">
				<%= link_to "Home", root_path %>
				&nbsp&nbsp&nbsp&nbsp
				<%= link_to "My Page", current_user %>
			</td>
			<td id="sign_in_out">
				<%= link_to "Sign in", new_user_session_path unless signed_in? %>
				&nbsp&nbsp&nbsp&nbsp
				<%= link_to "Sign up", new_user_registration_path unless signed_in? %>
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete if signed_in? %>
			</td>
			</tr></table>
		</div>
	</div>
	<br>
	<!-- <br> -->
	<div id="main_pane" class="shadow round">
		<%= yield %>
	</div>
</body>
</html>
